<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">

<polymer-element name="guoce-header">
  <template>
    <core-toolbar>
      <paper-icon-button id="navicon" icon="arrow-back"></paper-icon-button>
      <span flex>Title</span>
      <paper-icon-button id="searchbutton" icon="search"></paper-icon-button>
      <paper-icon-button id="infobutton" icon="info"></paper-icon-button>
    </core-toolbar>

    <link rel="stylesheet" href="./guoce-header.css">
  </template>

  <script src="./guoce-header.js"></script>

</polymer-element>
