# for node
node_modules/

# for bower
bower_components/

# compiled js
components/**/*.js
components/**/*.js.map

# compiled html
components/**/*.html

# compiled css
components/**/*.css

# sass cache
.sass-cache/
