%link{rel: 'import', href: '../../components/base/guoce-base.html'}
%polymer-element{name: 'guoce-nation', extends: 'guoce-base'}
  %template
    nation
    %link{rel: 'stylesheet', href: 'guoce-nation.css'}

  %script{src: 'guoce-nation.js'}
