%link{rel: 'import', href: '../screen-background/guoce-screen-background.html'}

%polymer-element{name: 'guoce-splash'}(flex)
  %template
    %link{rel: 'stylesheet', href: './guoce-splash.css'}

    %guoce-screen-background{type: 'image', image: './resources/images/background.png'}

    %div
      splash    
  %script{src: 'guoce-splash.js'}
