<link href='../../bower_components/paper-button/paper-button.html' rel='import'>
<link href='../../components/globals/guoce-globals.html' rel='import'>
<link href='../../components/base/guoce-base.html' rel='import'>
<polymer-element extends='guoce-base' flex name='guoce-init-page'>
  <template>
    <guoce-globals id='globals'></guoce-globals>
    <div class='bg' cross-fade fit></div>
    <div center class='menu' layout vertical>
      <paper-button on-click='{{switch_to_world_map}}'>go to world map</paper-button>
    </div>
    <link href='./guoce-init-page.css' rel='stylesheet'>
  </template>
  <script src='./guoce-init-page.js'></script>
</polymer-element>
