%polymer-element{name: 'guoce-screen-background'}(flex fit)
  %template
    %link{rel: 'stylesheet', href: './guoce-screen-background.css'}
    %div(flex)

  %script{src: 'guoce-screen-background.js'}
